In [ ]:
CREATE TYPE calibrationtype AS TABLE (
    ID int NULL,
    CalibrationTools nvarchar(50) NULL,
    StandardValue decimal(9, 4) NULL,
    Tolerance decimal(9, 4) NULL,
    MV decimal(9, 4) NULL,
    Result nvarchar(50) NULL,
    Comment nvarchar(200) NULL
)

In [ ]:
CREATE TYPE mytype AS TABLE (
	ID int NULL,
	Uid nvarchar(100) NULL,
	ImageHeight float NULL,
	ProcessNo int NULL,
	ProcessName nvarchar(100) NULL,
	ProcessNameCN nvarchar(100) NULL,
	Tool nvarchar(max) NULL,
	DescriptionCN nvarchar(max) NULL,
	DescriptionEN nvarchar(max) NULL
)

In [ ]:
CREATE TYPE refitemtype AS TABLE (
    SubItemCode nvarchar(50) NULL,
    ItemCode nvarchar(50) NULL
)

In [ ]:
CREATE SCHEMA Chains;
GO
CREATE TABLE Chains.Sizes
(
    ChainID int,
    width decimal(10,2)
)

In [ ]:
DECLARE @tvp Dwgtype
INSERT INTO @tvp
SELECT *
FROM DRAW
EXEC pyproc @tvp

In [ ]:
ALTER TRIGGER connection_limit_trigger
ON ALL SERVER WITH EXECUTE AS 'login_test'
FOR LOGON
AS
BEGIN
    INSERT INTO LORENTZ.dbo.AuserLog
    VALUES(ORIGINAL_LOGIN(), HOST_NAME(), GETDATE())
END

In [ ]:
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE <Procedure_Name, sysname, ProcedureName> 
	-- Add the parameters for the stored procedure here
	<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>
END
GO

In [ ]:
BEGIN TRANSACTION
SELECT *
FROM DRAW WITH(TABLOCKX)
WAITFOR DELAY '00:00:10'
COMMIT TRANSACTION